.Batty_tableWrapper {
	border: 1px outset #ccc;
	background-color: #fbfbfb;
	padding: 8px;
	border-radius: 6px;
}

.Batty_tableWrapper table {
	border-spacing: 0;
	width: 100%;
}

.Batty_tableWrapper table th {
	border: 1px outset #ccc;
	background-color: #edeeed;
}

.Batty_tableWrapper table td {
	vertical-align: top;
	border: 1px solid #ccc;
	background-color: #fff;
}

.Batty_section {
	margin: 8px;
}

#Batty_Project {
	width: 950px;
}

#Batty_Project table input {
	width: 700px;
}

#Batty_Project table th {
	text-align: right;
	vertical-align: top;
	width: 100px;
}

#Batty_ProjectSubscriber {
	width: 950px;
}

.Batty_issueList {
	width: 950px;
	font-size: 10pt;
}

.Batty_issueList .Batty_tableWrapper {
	overflow: auto;
}

.Batty_issueList#Batty_byHandler .Batty_tableWrapper,
.Batty_issueList#Batty_byReporter .Batty_tableWrapper {
	max-height: 300px;
}

div#Batty_issueID {
	float: left;
	width: 134px;
	margin: 0 8px;
}

div#Batty_issueID a {
	text-decoration: none;
	font: bold 40pt Tahoma;
}

div#Batty_issueID a:hover {
	text-decoration: underline;
}

div#Batty_Subscriber_Status + div {
	margin-left: 150px;
}

div.Batty_section h3 {
	display: inline;
	margin-right: 10px;
	margin-bottom: 0;
}

.Batty_issueComment {
	white-space: pre-wrap;
	font-family: monospace;
}

.Batty_issue textarea {
	width: 822px;
	height: 300px;
	font-family: monospace;
	font-size: 11pt;
}

.Batty_issueComment {
	font-family: monospace;
	font-size: 11pt;
}

.Batty_issue {
	width: 850px;
}

.Batty_Body {
	min-height: 600px;
}

.Batty_Body h3, .Batty_h3, .Batty_h3 * {
	font: bold 14pt Tahoma;
}

.Batty_h3 input {
	width: 720px;
}

#Batty_Report_label>:first-child {
	display: inline-block;
	width: 110px;
	margin-top: 9px;
}

div.Batty_byLine {
	float: left; width: 134px;
	margin: 0 8px;
}

div.Batty_byLine + div {
	margin-left: 150px;
}

.Batty_issueChanges {
	white-space: pre-wrap;
}

div.Batty_section + hr {
	clear: both;
}

div#footer { margin-top: 200px; }

.Batty_tableWrapper table tr:not(:hover) a.Batty_issueLink,
a.Batty_incognito:not(:hover) {
	text-decoration: none;
	color: inherit;
}

span.js-charsRemaining {
	font: bold 14pt Georgia, serif;
	color: #ccc;
	margin: -2px 4px;
	bottom: 4px;
	right: 0;
}

#Batty_Ajax_Message {
	font-size: 8pt;
}

.Batty_Issue_Select {
	width: 135px;
}

.Batty_Subscriptions {
	margin-left: 15px;
}

#Batty_Subscriber_Status {
	width: 135px;
	float: left;
	clear: left;
	margin: 0 8px;
}

.Batty_issue h3 {
	margin-top: 9px;
}

.Batty_new_update {
	font-weight: bold;
}

.Batty_details summary:hover {
	cursor: pointer;
}

.Batty_details summary {
	padding-top: 7px;
	display: inline;
}

.Batty_details {
	margin-top: 18px;
}

.Batty_search ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.Batty_search ul li {
	margin: 0 0 5px 0;
	padding: 0;
}

.Batty_search th {
	text-align: center;
}

.Batty_searchContainer {
	width: 950px;
	font-size: 10pt;
}

.Batty_searchContainer .Batty_tableWrapper {
	border-style: none;
}

#Batty_searchForm {
	float: left;
	height: 24px;
	position: relative;
	width: 219px;
	margin-right: 5px;
}

#Batty_searchForm > input {
	position: absolute;
	bottom: 0;
}

#Batty_searchForm > input.Batty_searchBox {
	left: 0;
	width: 150px;
}

#Batty_searchForm > input[type=submit] {
	right: 0;
	width: 60px;
}

#Batty_nav {
	float: left;
	width: 600px;
}
